<div>
    <div class="filtros__container">
        <input class="filtro__input" matInput placeholder="Filtrar processo" value="{{filtro}}">
        <button matFab (click)="fetchProcessos()">
            <mat-icon>search</mat-icon>
        </button>
        <button class="botao__novo_processo" matFab extended (click)="criarNovoProcesso()">
            <mat-icon>add</mat-icon>
            Novo processo
        </button>
    </div>

    <div class="dados__container">
        @for (processo of processos; track $index) {
        <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
                <mat-card-title>#{{processo.id}} - {{processo.descricao}}</mat-card-title>
                <mat-card-subtitle>{{processo.statusProcesso.descricao}}</mat-card-subtitle>
            </mat-card-header>
            <div class="divisor__card__container">
                <hr class="divisor__card">
            </div>
            <mat-card-content>
                <span class="linha__container">
                    <strong>Andamento Atual:</strong>
                    <p>
                        {{processo.andamento.descricao}}
                    </p>

                </span>

            </mat-card-content>
        </mat-card>
        }
    </div>
</div>