@if(loading){
    <div class="spinner-container">
        <mat-spinner></mat-spinner>
    </div>
}

@if (!loading) {
<form class="form__container" [formGroup]="formulario">
    <!-- Descrição do processo -->
    <mat-form-field class="form_field__container input__form_field">
        <mat-label>Descição</mat-label>
        <input matInput formControlName="descricao">
    </mat-form-field>

    <!-- Status do processo -->
    <div class="linha__container">
        <mat-form-field class="form_field__container">
            <mat-label>Status</mat-label>
            <mat-select formControlName="statusProcessoId">
                @for (statusProcesso of statusProcessos; track $index) {
                <mat-option [value]="statusProcesso.id">
                    {{statusProcesso.descricao}}
                </mat-option>
                }
            </mat-select>
        </mat-form-field>
        <button matFab style="width: 10%;" (click)="abrirFormularioCadastroStatusProcesso()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <!-- Andamento do processo -->
    <div class="linha__container">
        <mat-form-field class="form_field__container">
            <mat-label>Andamento</mat-label>
            <mat-select formControlName="andamento" [compareWith]="compararPorId">
                @for (andamento of andamentos; track $index) {
                <mat-option [value]="andamento">
                    {{andamento.descricao}}
                </mat-option>
                }
            </mat-select>
        </mat-form-field>
        <button matFab style="width: 10%;" (click)="abrirFormularioCadastroAndamento()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <!-- Parte relacionadas ao processo -->
    <div class="linha__container">
        <mat-form-field class="form_field__container">
            <mat-label>Partes</mat-label>
            <mat-select formControlName="partes" [compareWith]="compararPorId" multiple>
                @for (parte of partes; track $index) {
                <mat-option [value]="parte">
                    {{parte.nome}}
                </mat-option>
                }
            </mat-select>
        </mat-form-field>
        <button matFab style="width: 10%;" (click)="abrirFormularioCadastroParte()">
            <mat-icon>add</mat-icon>
        </button>
    </div>

    <div class="botoes__container">
        <button matFab (click)="dialogRef.close()" class="botao_cancelar_formulario">Cancelar</button>
        <button matFab [disabled]="!formulario.valid" (click)="salvar()" class="botao_salvar_formulario">Salvar</button>
    </div>
</form>
}