<div>
    <div class="filtros__container">
        <input class="filtro__input" matInput placeholder="Filtrar processo" (keyup)="applyFilter($event)">
        <button matFab (click)="fetchProcessos()" style="background-color: #2f71ff; color: white;" matTooltip="Atualizar lista">
            <mat-icon>search</mat-icon>
        </button>
        <button class="botao__novo_processo" matFab extended (click)="criarNovoProcesso()" matTooltip="Cadastrar novo processo">
            <mat-icon>add</mat-icon>
            Novo processo
        </button>
    </div>

    @if(loading){
    <div class="spinner-container">
        <mat-spinner></mat-spinner>
    </div>
    }

    @if(!loading && processos.length === 0){
    <div class="empty__container">
        <mat-icon>inbox</mat-icon>
        <p>Nenhum processo encontrado</p>
    </div>
    }

    @if(!loading && processos.length > 0){
    <div class="dados__container">
        @for (processo of processos; track processo.id) {

        <mat-card class="example-card" appearance="outlined">
            <mat-card-header>
                <mat-card-title>#{{processo.id}} - {{processo.descricao}}</mat-card-title>
                <mat-card-subtitle>{{processo.statusProcesso.descricao}}</mat-card-subtitle>
            </mat-card-header>
            <div class="divisor__card__container">
                <hr class="divisor__card">
            </div>
            <mat-card-content>
                <span class="linha__container">
                    <strong>Andamento Atual:</strong>
                    <p>
                        {{processo.andamento.descricao}}
                    </p>
                </span>
                <span class="linha__container">
                    <strong>Atibuição Andamento:</strong>
                    <p>
                        {{ processo.andamento.atribuidoEm | date:'dd/MM/yyyy HH:mm' }}
                    </p>
                </span>
                <span class="linha__container">
                    <strong>Criado Em:</strong>
                    <p>
                        {{ processo.criadoEm | date:'dd/MM/yyyy HH:mm' }}
                    </p>
                </span>
            </mat-card-content>

            <div class="botoes_card__container">
                <button matFab style="background-color: red; color: white;" (click)="excluirProcesso(processo.id)" matTooltip="Excluir processo">
                    <mat-icon>
                        delete
                    </mat-icon>
                </button>
                <button (click)="editarProcesso(processo)" matFab style="background-color: green; color: white;" matTooltip="Editar processo">
                    <mat-icon>
                        edit
                    </mat-icon>
                </button>
                <button (click)="visualizarProcesso(processo)" matFab style="background-color: #2f71ff; color: white;" matTooltip="Ver detalhes">
                    <mat-icon>
                        search
                    </mat-icon>
                </button>
            </div>
        </mat-card>
        }
    </div>
    }
</div>